@import "bootstrap";
@import "metisMenu.min";
@import "timeline";
@import "sb-admin-2";
@import "morris-0.4.3.min";
@import "font-awesome";


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
